<nav class="navbar navbar-expand-lg bg-body-light sticky-top border-bottom mb-4">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-nav" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/"><i class="fa-brands fa-airbnb"></i><span class="airbnb-text"></span></a>
                <a class="nav-link" href="/listings">Explore</a>
            </div>
        </div>

        <div class="navbar-nav ms-auto search-bar-airbnb">
            <%- include("../includes/searchBar.ejs") %>
        </div>

        <div class="navbar-nav ms-auto">
            <% if(!loggedInUser){ %>
                <a class="nav-link" href="/listings/new">Airbnb your home</a>
                <a href="/signup" class="nav-link"><b>Sign up</b></a>
                <a href="/login" class="nav-link"><b>Log in</b></a>
                <% } %>
                    <% if(loggedInUser){ %>
                        <a href="/logout" class="nav-link">Log out</a>
                        <% } %>
        </div>
    </div>
</nav>