<form action="" class="d-flex" role="search">
    <input class="form-control me-2 search-bar-airbnb" type="search" placeholder="Search destinations"
        aria-label="Search" />

    <button class="btn btn-danger rounded-circle ms-2">
        <i class="fa-solid fa-magnifying-glass"></i>
    </button>
</form>