<% layout('/layouts/boilerplate.ejs') -%>

    <body>
        <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-xs-1">
            <% for(let listing of allListings){ %>
                <a href="/listings/<%= listing._id %>" class="listing-link">
                    <div class="card col" style="width: 20rem;">
                        <img src="<%= listing.image %>" class="card-img-top" alt="listing-image" style="height: 20rem;">
                        <div class="card-img-overlay"></div>
                        <div class="card-body">
                            <h5 class="card-text listing-title">
                                <%= listing.title %>
                            </h5>
                            <p class="card-text listing-price">₹<%= listing.price.toLocaleString("en-IN") %> for 2
                                    nights
                            </p>
                        </div>
                    </div>
                </a>
                <% } %>
        </div>
    </body>