<% layout("layouts/boilerplate.ejs") -%>

    <body>
        <div class="row mt-4 vh-100">
            <div class="col-6 offset-3">
                <h1>Login</h1>
                <form action="/login" method="post" novalidate class="needs-validation mt-3">
                    <div class="mb-3">
                        <label for="username" class="form-label">Enter your username</label>
                        <input type="text" id="username" name="username" class="form-control" required>
                        <div class="invalid-feedback">Please check your username again.</div>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Enter your password</label>
                        <input type="password" id="password" name="password" class="form-control" required>
                        <div class="invalid-feedback">Please provide valid password.</div>
                    </div>
                    <button class="btn btn-primary p-2">Login</button>
                </form>
            </div>
        </div>
    </body>